<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <div class="objeto_uno">
            <h1>Compra Ahora!</h1>
            <div style="border: #006064 1px solid; height: 150px; width:200px ">
                <h:graphicImage library="images" name="comida.jpg" style="height: 100px; width: 95px" />
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick"/>
                        <input type="hidden" name="hosted_button_id" value="L7NG92RZCSPRC"/>
                            <table>
                                <tr><td><input type="hidden" name="on0" value="Cantidad de Comensales"/>Cantidad de Comensales</td></tr><tr><td><select name="os0">
                                            <option value="Una persona">Una persona $5.00 USD</option>
                                            <option value="Dos personas">Dos personas $7.00 USD</option>
                                            <option value="Tres personas">Tres personas $10.00 USD</option>
                                        </select> </td></tr>
                            </table>
                            <input type="hidden" name="currency_code" value="USD"/>
                                <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"/>
                                    <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1"/>
                                        </form>

                                        </div>
                                        </div>
                                        </h:body>
                                        </html>

