<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <b:form>
            <div class="container" style="background: yellowgreen">
                <div class="row"> 
                    <div class="col s12">
                        <b:column>
                            <b:selectOneMenu label="MODELO DE GUITARRA" value="#{sale.id_helperMODELOS}">
                                <f:selectItems  var="m" value="#{sale.models_control.findModelosGuitarrasEntities()}" itemLabel="#{m.modeloGuitarra}" itemValue="#{m.idModeloGuitarra}" />
                            </b:selectOneMenu>
                        </b:column>
                        <b:column>
                            <b:selectOneMenu label="TIPO DE GUITARRA" value="#{sale.id_helperTYPEG}">
                                <f:selectItems  var="t" value="#{sale.guitype_control.findTipoGuitarraEntities()}" itemLabel="#{t.tipoGuitarra}" itemValue="#{t.idTipoGuitarra}" />
                            </b:selectOneMenu>
                        </b:column>
                        <b:column>
                            <b:selectOneMenu label="MARCA DE GUITARRA" value="#{sale.id_helperMARCAS}">
                                <f:selectItems  var="mk" value="#{sale.mark_control.findMarcasEntities()}" itemLabel="#{mk.nombreMarca}" itemValue="#{mk.idMarcasGuitarras}" />
                            </b:selectOneMenu>
                        </b:column>
                        <b:column>
                            <b:selectOneMenu label="STILO DE GUITARRA" value="#{sale.id_helperSTYLOS}">
                                <f:selectItems  var="s" value="#{sale.stylo_control.findStyleGuitarraEntities()}" itemLabel="#{s.styleGuitarra}" itemValue="#{s.idStyleGuitarra}" />
                            </b:selectOneMenu>
                        </b:column>
                        <b:column>
                            <b:selectOneMenu label="CUERDAS DE LA GUITARRA" value="#{sale.id_helperCUERDAS}">
                                <f:selectItems  var="c" value="#{sale.cuerda_control.findTipoCuerdasEntities()}" itemLabel="#{c.tipoCuerda}" itemValue="#{c.idCuerdas}" />
                            </b:selectOneMenu>
                        </b:column>
                        <b:panel class="panel_uno" style="border: solid blue 1px;  background:rgba(0.3,130,255,0.5);">
                            <b:commandButton value="GUARDAR" action="#{sale.guardar_relacionAll()}"  />                            
                        </b:panel>
                        <b:column>
                            <f:view>
                                <b:dataTable style="border-top-left-radius:38px;
                                             border-top-right-radius:0px;
                                             border-bottom-left-radius:0px;
                                             border-bottom-right-radius:0px;" value="#{sale.control.findVentaEntities()}" var="ver">
                                    <b:dataTableColumn label="ID" value="#{ver.idVenta}"/>
                                    <b:dataTableColumn label="MODELO" value="#{ver.modeloGuitarra.modeloGuitarra}"/>
                                    <b:dataTableColumn label="TIPO" value="#{ver.tipoDeGuitarra.tipoGuitarra}"/>
                                    <b:dataTableColumn label="MARCA" value="#{ver.marcaGuitarra.nombreMarca}"/>
                                    <b:dataTableColumn label="ESTILO" value="#{ver.styleGuitarra.styleGuitarra}"/>
                                    <b:dataTableColumn label="CUERDAS" value="#{ver.tipoCuerdas.tipoCuerda}"/>
                                    <b:dataTableColumn label="ELIMINAR" > <b:commandButton value="ELIMINAR" action="#{sale.control.destroy(ver.idVenta)}"/>
                                    </b:dataTableColumn>
                                    <b:dataTableColumn label="MODIFICAR" />
                                </b:dataTable>
                            </f:view>
                        </b:column>
                    </div>
                </div>
            </div>
        </b:form>
    </h:body>
</html>

