<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Insertar Marca</title>
        <h:outputStylesheet library="css" name="insertar marcas.css" />
        <h:outputScript library="js" name="materialize.js" />
    </h:head>
    <h:body>
        <b:form>
            <div class="container" style="background: yellowgreen">
                <div class="row"> 
                    <div class="col s12">
                        <b:inputText value="#{mark.marc.nombreMarca}" label="Nombre de la Marca" colLg="5" colMd="5" colSm="6" colXs="6" span="6"/>
                        <b:panel class="panel_uno" style="border: solid blue 1px;  background:rgba(0.3,130,255,0.5);">
                            <b:commandButton value="GUARDAR" action="#{mark.control.create(mark.marc)}" style="position: fixed" />                            
                        </b:panel>
                        <b:column>
                                <f:view>
                                <b:dataTable style="border-top-left-radius:38px;
                                             border-top-right-radius:0px;
                                             border-bottom-left-radius:0px;
                                             border-bottom-right-radius:0px;" value="#{mark.control.findMarcasEntities()}" var="ver">
                                    <b:dataTableColumn label="ID" value="#{ver.idMarcasGuitarras}"/>
                                    <b:dataTableColumn label="MARCA" value="#{ver.nombreMarca}"/>
                                    <b:dataTableColumn label="ELIMINAR" > <b:commandButton value="ELIMINAR" action="#{mark.control.destroy(ver.idMarcasGuitarras)}"/>
                                    </b:dataTableColumn>
                                    <b:dataTableColumn label="MODIFICAR" />
                                </b:dataTable>
                                    </f:view>
                            </b:column>
                    </div>
                </div>
            </div>
        </b:form>
    </h:body>
</html>

